@using EnglishNow.Web.Models.Menu;
@using EnglishNow.Web.Models.Aluno;
@model ListarViewModel;
@{
    ViewData["Title"] = "Listar Alunos";
    ViewData["Menu"] = Menu.Aluno;
}

<h1>Lista de Alunos</h1>

@if (Model.ExibirBotoesEdicao)
{
    <div class="py-2">
        <a class="btn btn-primary" asp-controller="Aluno" asp-action="Criar">Novo</a>
    </div>
}

@if (Model.Alunos == null || Model.Alunos.Count == 0)
{
    <p class="card-text">Nenhum aluno cadastrado.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Login</th>
                    @if (Model.ExibirBotoesEdicao)
                    {
                        <th scope="col"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var aluno in Model.Alunos)
                {
                    <tr>
                        <th>@aluno.Id</th>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.Login</td>
                        @if (Model.ExibirBotoesEdicao)
                        {
                            <td><a class="link-underline link-underline-opacity-0" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
